Written by Jacob M. Dean, University of Bath.

### What are variables and how do we use them?

In this jupyter notebook we will go through what variables are and how they can save you from doing lots of boring repetitive tasks. We will do these using a somewhat farfetched narrative but the principles are well and truly applicable and important.

To start with, imagine you are no longer a student but you are at work. You work for a company that calculates values for other companies. Your boss comes over and they say that they want you to find the following properties of the number 17: its square, its value doubled, and its value halved. So you may go away and calculate the following:

In [2]:
17**2

289

In [3]:
17 * 2

34

In [4]:
17 / 2

8.5

You manually write these values down and you go back to your boss with your information and they're pretty demanding so they ask for the  same properties for 31, 43, and 54. You go away and you run the same calculations for 31, 43, and 54 by calculating:

In [5]:
31**2

961

In [6]:
31 * 2

62

In [7]:
31 / 2

15.5

In [8]:
43**2

1849

In [9]:
43 * 2

86

In [10]:
43 / 2

21.5

In [11]:
54**2

2916

In [12]:
54 * 2

108

In [13]:
54 / 2

27.0

You go back to your boss feeling good for yourself after completing all those calculations. Your boss is looking stressed, and you ask them why. They say that the company has just had a huge contract through and they need those same three properties for: 1, 9, 13, 18, 19, 24, 29, 33, 39, 42, 47, and 52. A much larger job than you've done before.  

Luckily you remember that you can use variables to quickly find the properties of these numbers. You remember that the square of the value x is `x**2`, the double is `x * 2`, and the half is `x / 2`. You write the following bit of code:

In [14]:
x = 1
print(x, "squared is", x**2)
print(x, "doubled is", x * 2)
print(x, "halved is", x / 2)

1 squared is 1
1 doubled is 2
1 halved is 0.5

So now instead of having to do 36 (12 times 3) seperate calculations you just have to replace the variable x with the input values. This saved you so much time and you're feeling pretty good about yourself. You go to tell your boss and they're happy with your performance, but the client now also wants to know what the values are cubed. Your clients are very demanding and they want the information as soon as possible. You tell them that they'll get that information right away and you just add the following line:

In [15]:
x = 1
print(x, "squared is", x**2)
print(x, "doubled is", x * 2)
print(x, "halved is", x / 2)
print(x, 'cubed is', x**3)

1 squared is 1
1 doubled is 2
1 halved is 0.5
1 cubed is 1

Similarly you have made 48 calculations into changing 12 numbers. It turns out the clients were using the above to trial your company's efficiency. They gave you one of their small jobs and you performed well so they've given you a contract for all their calculations. They want you to find the square, cube, double, half, quarter, and quadruple of all the values from 1 to 100. A total of 600 calculations. Your boss accepts the contract, and is about to hire two extra people to do the workload. You tell them that if they do not hire anyone else and pays you double then you'll do all the calculations much quicker than three people can doing it the way you did for the 48 trial calculations. They look at you skeptically, but give you a chance as it will save them a person's wage.

But you're a programmer and you've out smarted your boss because you've already solved this problem using variables. You know you need the numbers 1 to 100 but you can get these using:

In [16]:
range(1,100)

range(1, 100)

This gives you all integer values from 1 up to but not including 101, but you need to extract them. You can do this like so:

In [23]:
for x in range(1,101):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

But what is happening here?

We can think of `range(1,101)` as a list containing the integers from 1 to 101. The variable `x` takes the first value of the list, `1`, and it is printed, `x` then takes the value of the second value in the list, `2`, and it is printed, and the same process continues until the end of the list. 

We now need those values that the company wants. You could do this like so:

In [18]:
for x in range(1,101):
    print("x is equal to", x)
    print(x, "squared is", x**2)
    print(x, "cubed is", x**3)
    print(x, "doubled is", x*2)
    print(x, "halved is", x/2)
    print(x, "quadrupled is", x*4)
    print(x, "quartered is", x/4, "\n") #the "\n" just skips a line

x is equal to 1
1 squared is 1
1 cubed is 1
1 doubled is 2
1 halved is 0.5
1 quadrupled is 4
1 quartered is 0.25

x is equal to 2
2 squared is 4
2 cubed is 8
2 doubled is 4
2 halved is 1.0
2 quadrupled is 8
2 quartered is 0.5

x is equal to 3
3 squared is 9
3 cubed is 27
3 doubled is 6
3 halved is 1.5
3 quadrupled is 12
3 quartered is 0.75

x is equal to 4
4 squared is 16
4 cubed is 64
4 doubled is 8
4 halved is 2.0
4 quadrupled is 16
4 quartered is 1.0

x is equal to 5
5 squared is 25
5 cubed is 125
5 doubled is 10
5 halved is 2.5
5 quadrupled is 20
5 quartered is 1.25

x is equal to 6
6 squared is 36
6 cubed is 216
6 doubled is 12
6 halved is 3.0
6 quadrupled is 24
6 quartered is 1.5

x is equal to 7
7 squared is 49
7 cubed is 343
7 doubled is 14
7 halved is 3.5
7 quadrupled is 28
7 quartered is 1.75

x is equal to 8
8 squared is 64
8 cubed is 512
8 doubled is 16
8 halved is 4.0
8 quadrupled is 32
8 quartered is 2.0

x is equal to 9
9 squared is 81
9 cubed is 729
9 doubled is 18
9 halved is 4.5
9 quadrupled is 36
9 quartered is 2.25

x is equal to 10
10 squared is 100
10 cubed is 1000
10 doubled is 20
10 halved is 5.0
10 quadrupled is 40
10 quartered is 2.5

x is equal to 11
11 squared is 121
11 cubed is 1331
11 doubled is 22
11 halved is 5.5
11 quadrupled is 44
11 quartered is 2.75

x is equal to 12
12 squared is 144
12 cubed is 1728
12 doubled is 24
12 halved is 6.0
12 quadrupled is 48
12 quartered is 3.0

x is equal to 13
13 squared is 169
13 cubed is 2197
13 doubled is 26
13 halved is 6.5
13 quadrupled is 52
13 quartered is 3.25

x is equal to 14
14 squared is 196
14 cubed is 2744
14 doubled is 28
14 halved is 7.0
14 quadrupled is 56
14 quartered is 3.5

x is equal to 15
15 squared is 225
15 cubed is 3375
15 doubled is 30
15 halved is 7.5
15 quadrupled is 60
15 quartered is 3.75

x is equal to 16
16 squared is 256
16 cubed is 4096
16 doubled is 32
16 halved is 8.0
16 quadrupled is 64
16 quartered is 4.0

x is equal to 17
17 squared is 289
17 cubed is 4913
17 doubled is 34
17 halved is 8.5
17 quadrupled is 68
17 quartered is 4.25

x is equal to 18
18 squared is 324
18 cubed is 5832
18 doubled is 36
18 halved is 9.0
18 quadrupled is 72
18 quartered is 4.5

x is equal to 19
19 squared is 361
19 cubed is 6859
19 doubled is 38
19 halved is 9.5
19 quadrupled is 76
19 quartered is 4.75

x is equal to 20
20 squared is 400
20 cubed is 8000
20 doubled is 40
20 halved is 10.0
20 quadrupled is 80
20 quartered is 5.0

x is equal to 21
21 squared is 441
21 cubed is 9261
21 doubled is 42
21 halved is 10.5
21 quadrupled is 84
21 quartered is 5.25

x is equal to 22
22 squared is 484
22 cubed is 10648
22 doubled is 44
22 halved is 11.0
22 quadrupled is 88
22 quartered is 5.5

x is equal to 23
23 squared is 529
23 cubed is 12167
23 doubled is 46
23 halved is 11.5
23 quadrupled is 92
23 quartered is 5.75

x is equal to 24
24 squared is 576
24 cubed is 13824
24 doubled is 48
24 halved is 12.0
24 quadrupled is 96
24 quartered is 6.0

x is equal to 25
25 squared is 625
25 cubed is 15625
25 doubled is 50
25 halved is 12.5
25 quadrupled is 100
25 quartered is 6.25

x is equal to 26
26 squared is 676
26 cubed is 17576
26 doubled is 52
26 halved is 13.0
26 quadrupled is 104
26 quartered is 6.5

x is equal to 27
27 squared is 729
27 cubed is 19683
27 doubled is 54
27 halved is 13.5
27 quadrupled is 108
27 quartered is 6.75

x is equal to 28
28 squared is 784
28 cubed is 21952
28 doubled is 56
28 halved is 14.0
28 quadrupled is 112
28 quartered is 7.0

x is equal to 29
29 squared is 841
29 cubed is 24389
29 doubled is 58
29 halved is 14.5
29 quadrupled is 116
29 quartered is 7.25

x is equal to 30
30 squared is 900
30 cubed is 27000
30 doubled is 60
30 halved is 15.0
30 quadrupled is 120
30 quartered is 7.5

x is equal to 31
31 squared is 961
31 cubed is 29791
31 doubled is 62
31 halved is 15.5
31 quadrupled is 124
31 quartered is 7.75

x is equal to 32
32 squared is 1024
32 cubed is 32768
32 doubled is 64
32 halved is 16.0
32 quadrupled is 128
32 quartered is 8.0

x is equal to 33
33 squared is 1089
33 cubed is 35937
33 doubled is 66
33 halved is 16.5
33 quadrupled is 132
33 quartered is 8.25

x is equal to 34
34 squared is 1156
34 cubed is 39304
34 doubled is 68
34 halved is 17.0
34 quadrupled is 136
34 quartered is 8.5

x is equal to 35
35 squared is 1225
35 cubed is 42875
35 doubled is 70
35 halved is 17.5
35 quadrupled is 140
35 quartered is 8.75

x is equal to 36
36 squared is 1296
36 cubed is 46656
36 doubled is 72
36 halved is 18.0
36 quadrupled is 144
36 quartered is 9.0

x is equal to 37
37 squared is 1369
37 cubed is 50653
37 doubled is 74
37 halved is 18.5
37 quadrupled is 148
37 quartered is 9.25

x is equal to 38
38 squared is 1444
38 cubed is 54872
38 doubled is 76
38 halved is 19.0
38 quadrupled is 152
38 quartered is 9.5

x is equal to 39
39 squared is 1521
39 cubed is 59319
39 doubled is 78
39 halved is 19.5
39 quadrupled is 156
39 quartered is 9.75

x is equal to 40
40 squared is 1600
40 cubed is 64000
40 doubled is 80
40 halved is 20.0
40 quadrupled is 160
40 quartered is 10.0

x is equal to 41
41 squared is 1681
41 cubed is 68921
41 doubled is 82
41 halved is 20.5
41 quadrupled is 164
41 quartered is 10.25

x is equal to 42
42 squared is 1764
42 cubed is 74088
42 doubled is 84
42 halved is 21.0
42 quadrupled is 168
42 quartered is 10.5

x is equal to 43
43 squared is 1849
43 cubed is 79507
43 doubled is 86
43 halved is 21.5
43 quadrupled is 172
43 quartered is 10.75

x is equal to 44
44 squared is 1936
44 cubed is 85184
44 doubled is 88
44 halved is 22.0
44 quadrupled is 176
44 quartered is 11.0

x is equal to 45
45 squared is 2025
45 cubed is 91125
45 doubled is 90
45 halved is 22.5
45 quadrupled is 180
45 quartered is 11.25

x is equal to 46
46 squared is 2116
46 cubed is 97336
46 doubled is 92
46 halved is 23.0
46 quadrupled is 184
46 quartered is 11.5

x is equal to 47
47 squared is 2209
47 cubed is 103823
47 doubled is 94
47 halved is 23.5
47 quadrupled is 188
47 quartered is 11.75

x is equal to 48
48 squared is 2304
48 cubed is 110592
48 doubled is 96
48 halved is 24.0
48 quadrupled is 192
48 quartered is 12.0

x is equal to 49
49 squared is 2401
49 cubed is 117649
49 doubled is 98
49 halved is 24.5
49 quadrupled is 196
49 quartered is 12.25

x is equal to 50
50 squared is 2500
50 cubed is 125000
50 doubled is 100
50 halved is 25.0
50 quadrupled is 200
50 quartered is 12.5

x is equal to 51
51 squared is 2601
51 cubed is 132651
51 doubled is 102
51 halved is 25.5
51 quadrupled is 204
51 quartered is 12.75

x is equal to 52
52 squared is 2704
52 cubed is 140608
52 doubled is 104
52 halved is 26.0
52 quadrupled is 208
52 quartered is 13.0

x is equal to 53
53 squared is 2809
53 cubed is 148877
53 doubled is 106
53 halved is 26.5
53 quadrupled is 212
53 quartered is 13.25

x is equal to 54
54 squared is 2916
54 cubed is 157464
54 doubled is 108
54 halved is 27.0
54 quadrupled is 216
54 quartered is 13.5

x is equal to 55
55 squared is 3025
55 cubed is 166375
55 doubled is 110
55 halved is 27.5
55 quadrupled is 220
55 quartered is 13.75

x is equal to 56
56 squared is 3136
56 cubed is 175616
56 doubled is 112
56 halved is 28.0
56 quadrupled is 224
56 quartered is 14.0

x is equal to 57
57 squared is 3249
57 cubed is 185193
57 doubled is 114
57 halved is 28.5
57 quadrupled is 228
57 quartered is 14.25

x is equal to 58
58 squared is 3364
58 cubed is 195112
58 doubled is 116
58 halved is 29.0
58 quadrupled is 232
58 quartered is 14.5

x is equal to 59
59 squared is 3481
59 cubed is 205379
59 doubled is 118
59 halved is 29.5
59 quadrupled is 236
59 quartered is 14.75

x is equal to 60
60 squared is 3600
60 cubed is 216000
60 doubled is 120
60 halved is 30.0
60 quadrupled is 240
60 quartered is 15.0

x is equal to 61
61 squared is 3721
61 cubed is 226981
61 doubled is 122
61 halved is 30.5
61 quadrupled is 244
61 quartered is 15.25

x is equal to 62
62 squared is 3844
62 cubed is 238328
62 doubled is 124
62 halved is 31.0
62 quadrupled is 248
62 quartered is 15.5

x is equal to 63
63 squared is 3969
63 cubed is 250047
63 doubled is 126
63 halved is 31.5
63 quadrupled is 252
63 quartered is 15.75

x is equal to 64
64 squared is 4096
64 cubed is 262144
64 doubled is 128
64 halved is 32.0
64 quadrupled is 256
64 quartered is 16.0

x is equal to 65
65 squared is 4225
65 cubed is 274625
65 doubled is 130
65 halved is 32.5
65 quadrupled is 260
65 quartered is 16.25

x is equal to 66
66 squared is 4356
66 cubed is 287496
66 doubled is 132
66 halved is 33.0
66 quadrupled is 264
66 quartered is 16.5

x is equal to 67
67 squared is 4489
67 cubed is 300763
67 doubled is 134
67 halved is 33.5
67 quadrupled is 268
67 quartered is 16.75

x is equal to 68
68 squared is 4624
68 cubed is 314432
68 doubled is 136
68 halved is 34.0
68 quadrupled is 272
68 quartered is 17.0

x is equal to 69
69 squared is 4761
69 cubed is 328509
69 doubled is 138
69 halved is 34.5
69 quadrupled is 276
69 quartered is 17.25

x is equal to 70
70 squared is 4900
70 cubed is 343000
70 doubled is 140
70 halved is 35.0
70 quadrupled is 280
70 quartered is 17.5

x is equal to 71
71 squared is 5041
71 cubed is 357911
71 doubled is 142
71 halved is 35.5
71 quadrupled is 284
71 quartered is 17.75

x is equal to 72
72 squared is 5184
72 cubed is 373248
72 doubled is 144
72 halved is 36.0
72 quadrupled is 288
72 quartered is 18.0

x is equal to 73
73 squared is 5329
73 cubed is 389017
73 doubled is 146
73 halved is 36.5
73 quadrupled is 292
73 quartered is 18.25

x is equal to 74
74 squared is 5476
74 cubed is 405224
74 doubled is 148
74 halved is 37.0
74 quadrupled is 296
74 quartered is 18.5

x is equal to 75
75 squared is 5625
75 cubed is 421875
75 doubled is 150
75 halved is 37.5
75 quadrupled is 300
75 quartered is 18.75

x is equal to 76
76 squared is 5776
76 cubed is 438976
76 doubled is 152
76 halved is 38.0
76 quadrupled is 304
76 quartered is 19.0

x is equal to 77
77 squared is 5929
77 cubed is 456533
77 doubled is 154
77 halved is 38.5
77 quadrupled is 308
77 quartered is 19.25

x is equal to 78
78 squared is 6084
78 cubed is 474552
78 doubled is 156
78 halved is 39.0
78 quadrupled is 312
78 quartered is 19.5

x is equal to 79
79 squared is 6241
79 cubed is 493039
79 doubled is 158
79 halved is 39.5
79 quadrupled is 316
79 quartered is 19.75

x is equal to 80
80 squared is 6400
80 cubed is 512000
80 doubled is 160
80 halved is 40.0
80 quadrupled is 320
80 quartered is 20.0

x is equal to 81
81 squared is 6561
81 cubed is 531441
81 doubled is 162
81 halved is 40.5
81 quadrupled is 324
81 quartered is 20.25

x is equal to 82
82 squared is 6724
82 cubed is 551368
82 doubled is 164
82 halved is 41.0
82 quadrupled is 328
82 quartered is 20.5

x is equal to 83
83 squared is 6889
83 cubed is 571787
83 doubled is 166

83 halved is 41.5
83 quadrupled is 332
83 quartered is 20.75

x is equal to 84
84 squared is 7056
84 cubed is 592704
84 doubled is 168
84 halved is 42.0
84 quadrupled is 336
84 quartered is 21.0

x is equal to 85
85 squared is 7225
85 cubed is 614125
85 doubled is 170
85 halved is 42.5
85 quadrupled is 340
85 quartered is 21.25

x is equal to 86
86 squared is 7396
86 cubed is 636056
86 doubled is 172
86 halved is 43.0
86 quadrupled is 344
86 quartered is 21.5

x is equal to 87
87 squared is 7569
87 cubed is 658503
87 doubled is 174
87 halved is 43.5
87 quadrupled is 348
87 quartered is 21.75

x is equal to 88
88 squared is 7744
88 cubed is 681472
88 doubled is 176
88 halved is 44.0
88 quadrupled is 352
88 quartered is 22.0

x is equal to 89
89 squared is 7921
89 cubed is 704969
89 doubled is 178
89 halved is 44.5
89 quadrupled is 356
89 quartered is 22.25

x is equal to 90
90 squared is 8100
90 cubed is 729000
90 doubled is 180
90 halved is 45.0
90 quadrupled is 360
90 quartered is 22.5

x is equal to 91
91 squared is 8281
91 cubed is 753571
91 doubled is 182
91 halved is 45.5
91 quadrupled is 364
91 quartered is 22.75

x is equal to 92
92 squared is 8464
92 cubed is 778688
92 doubled is 184
92 halved is 46.0
92 quadrupled is 368
92 quartered is 23.0

x is equal to 93
93 squared is 8649
93 cubed is 804357
93 doubled is 186
93 halved is 46.5
93 quadrupled is 372
93 quartered is 23.25

x is equal to 94
94 squared is 8836
94 cubed is 830584
94 doubled is 188
94 halved is 47.0
94 quadrupled is 376
94 quartered is 23.5

x is equal to 95
95 squared is 9025
95 cubed is 857375
95 doubled is 190
95 halved is 47.5
95 quadrupled is 380
95 quartered is 23.75

x is equal to 96
96 squared is 9216
96 cubed is 884736
96 doubled is 192
96 halved is 48.0
96 quadrupled is 384
96 quartered is 24.0

x is equal to 97
97 squared is 9409
97 cubed is 912673
97 doubled is 194
97 halved is 48.5
97 quadrupled is 388
97 quartered is 24.25

x is equal to 98
98 squared is 9604
98 cubed is 941192
98 doubled is 196
98 halved is 49.0
98 quadrupled is 392
98 quartered is 24.5

x is equal to 99
99 squared is 9801
99 cubed is 970299
99 doubled is 198
99 halved is 49.5
99 quadrupled is 396
99 quartered is 24.75

x is equal to 100
100 squared is 10000
100 cubed is 1000000
100 doubled is 200
100 halved is 50.0
100 quadrupled is 400
100 quartered is 25.0

You've finished the calculations in no time at all. This time you do not go back to your boss, but you go to the client and say if they pay you 100 times as much then you'll find them all the properties they've previously asked for but this time from 1 until 1,000,000. This is 100 times the pay for 10000 times "the work" so the company accept. You change 101 to 1,000,001 in the code above and walk home with a tidy pay day. You go and book a holiday and enjoy your 100 fold increase in pay for adding some zeros on.

Whilst this narrative may seem ridiculous, it <span style="color:blue">highlights that variables can save you a lot of time and are very valuable.</span> No employer will ask for values like a double or a half, but they may ask for values like a standard deviation or a standard error on sets of data. The same principles can be used to do this. 

The use of the for loops is not necessary to use in the first year python course. Its use here is purely to exemplify that variables are useful. If you do not understand how it works do not worry. If you are interest though, please play around with it! Programming is all about experimenting. 

It is tempting in the exercises to just type in the numbers because you only have to complete a task once or twice. We encourage you to use variables because when you get to the python courses in future years, or when you get a job after university, you will be asked to do tasks tens if not hundreds of times. <span style="color:blue">Taking the time to learn how to use variables now is a good investment of time.</span>